<a href="https://colab.research.google.com/github/Evianitary18/Programming-With-Python/blob/main/03_Python_List%2C_Tuple%2C_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Session 2

**Pada sesi kali ini kita akan lanjut ke tipe data non-primitive diantaranya List, Tuple, dan Dictionaries**

## List

### **Cara membuat sebuah list**

List berisi satu tipe data

In [ ]:
angka = [1, 2, 3, 4, 5]

In [ ]:
print(angka)

[1, 2, 3, 4, 5]

In [ ]:
print(type(angka))

<class 'list'>

In [ ]:
kota = ['Bandung', 'Batam', 'Medan', 'Surabaya']
print(kota)
print(type(kota))

['Bandung', 'Batam', 'Medan', 'Surabaya']
<class 'list'>

In [ ]:
kota = list(['Bandung', 'Batam', 'Medan', 'Surabaya'])
print(kota)
print(type(kota))

['Bandung', 'Batam', 'Medan', 'Surabaya']
<class 'list'>

List berisi campuran tipe data

In [ ]:
campuran = [1, 3.14, 'Sekolahmu', True, [1,2,3]]

In [ ]:
print(campuran)

[1, 3.14, 'Sekolahmu', True, [1, 2, 3]]

In [ ]:
print(type(campuran))

<class 'list'>

List kosong

In [ ]:
kosong = list()
print(kosong)

[]

In [ ]:
empty = []
print(empty)

[]

Mengetahui jumlah elemen dalam list

In [ ]:
print(campuran)
print(len(campuran))

[1, 3.14, 'Sekolahmu', True, [1, 2, 3]]
5

In [ ]:
print(len(angka))

5

### **Cara Mengakses Element pada List**

In [ ]:
print(angka)

[1, 2, 3, 4, 5]

In [ ]:
angka[4]

5

In [ ]:
print(campuran)

[1, 3.14, 'Sekolahmu', True, [1, 2, 3]]

In [ ]:
campuran[2]

'Sekolahmu'

In [ ]:
campuran[-3]

'Sekolahmu'

### **Mengganti element yang ada di list**

In [ ]:
campuran[3] = False

In [ ]:
print(campuran)

[1, 3.14, 'Sekolahmu', False, [1, 2, 3]]

### **Menambah Element pada List**

Append

In [ ]:
print(angka)
angka.append(999)
print(angka)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 999]

Insert

In [ ]:
print(angka)
angka.insert(3, 777)
print(angka)

[1, 2, 3, 4, 5, 999]
[1, 2, 3, 777, 4, 5, 999]

Sumasi

In [ ]:
print(angka)
print(campuran)
print(angka + campuran)

[1, 2, 3, 777, 4, 5, 999]
[1, 3.14, 'Sekolahmu', False, [1, 2, 3]]
[1, 2, 3, 777, 4, 5, 999, 1, 3.14, 'Sekolahmu', False, [1, 2, 3]]

Extend

In [ ]:
print(angka)
angka.extend([555, 666, 333])
print(angka)

[1, 2, 3, 777, 4, 5, 999]
[1, 2, 3, 777, 4, 5, 999, 555, 666, 333]

### **Mengetahui index dari sebuah element dalam list**

In [ ]:
angka.index(999)

6

In [ ]:
angka[6]

999

### **Menghapus Element pada List**

Remove

In [ ]:
print(campuran)

[1, 3.14, 'Sekolahmu', False, [1, 2, 3]]

In [ ]:
campuran.remove([1, 2, 3])

In [ ]:
print(campuran)

[1, 3.14, 'Sekolahmu', False]

In [ ]:
campuran.remove('Sekolahmu')

In [ ]:
print(campuran)

[1, 3.14, False]

pop

In [ ]:
print(angka)
angka.pop()
print(angka)

[1, 2, 3, 777, 4, 5, 999, 555, 666, 333]
[1, 2, 3, 777, 4, 5, 999, 555, 666]

In [ ]:
print(angka)
angka.pop(6)
print(angka)

[1, 2, 3, 777, 4, 5, 999, 555, 666]
[1, 2, 3, 777, 4, 5, 555, 666]

del

In [ ]:
print(angka)
del angka[-2]
print(angka)

[1, 2, 3, 777, 4, 5, 555, 666]
[1, 2, 3, 777, 4, 5, 666]

In [ ]:
print(angka)
del angka
print(angka)

[1, 2, 3, 777, 4, 5, 666]

NameError: ignored

In [ ]:
alpha = ['A', 'B']
print(alpha)
del alpha
print(alpha)

['A', 'B']

NameError: ignored

### **Beberapa Fungsi / Method yang biasa digunakan dalam list**

Sort

In [ ]:
angka = [7, 1, 5, 3, 9, 4, 8]
print(angka)
angka.sort()
print(angka)

[7, 1, 5, 3, 9, 4, 8]
[1, 3, 4, 5, 7, 8, 9]

Sorted

In [ ]:
angka2 = [3, 1, 9, 2, 5, 8]
print('List Sebelum di Urutkan')
print(angka2)
print('-'*15)
angka3 = sorted(angka2)
print('-'*15)
print('List Setelah diurutkan')
print(angka2)
print(angka3)

List Sebelum di Urutkan
[3, 1, 9, 2, 5, 8]
---------------
---------------
List Setelah diurutkan
[3, 1, 9, 2, 5, 8]
[1, 2, 3, 5, 8, 9]

Reverse

In [ ]:
print(angka2)
angka2.sort()
angka2.reverse()
print(angka2)

[3, 1, 9, 2, 5, 8]
[9, 8, 5, 3, 2, 1]

Min, Max, Sum

In [ ]:
max(angka)

9

In [ ]:
print(angka)

minimum = min(angka)
maksimum = max(angka)
jumlah = sum(angka)

print('Nilai maksimum dari angka {}'.format(maksimum))
print('Nilai minimum dari angka {}'.format(minimum))
print('Nilai Total dari angka {}'.format(jumlah))

[1, 3, 4, 5, 7, 8, 9]
Nilai maksimum dari angka 9
Nilai minimum dari angka 1
Nilai Total dari angka 37

### **Slicing List**

Kiri

In [ ]:
a = ['Mi Ayam', 'Indomie', 'Pangsit', 'Ramen', 'Samyang']
print(a)

['Mi Ayam', 'Indomie', 'Pangsit', 'Ramen', 'Samyang']

In [ ]:
a[0:3]

['Mi Ayam', 'Indomie', 'Pangsit']

In [ ]:
a[:3]

['Mi Ayam', 'Indomie', 'Pangsit']

In [ ]:
a[1:4]

['Indomie', 'Pangsit', 'Ramen']

In [ ]:
a[2:]

['Pangsit', 'Ramen', 'Samyang']

In [ ]:
print(a)

['Mi Ayam', 'Indomie', 'Pangsit', 'Ramen', 'Samyang']

In [ ]:
a[0:5:2]

['Mi Ayam', 'Pangsit', 'Samyang']

Kanan

In [ ]:
print(a)

['Mi Ayam', 'Indomie', 'Pangsit', 'Ramen', 'Samyang']

In [ ]:
a[-5:-2]

['Mi Ayam', 'Indomie', 'Pangsit']

In [ ]:
a[-2:-5]

[]

### **Addition : Slicing String**

In [ ]:
b = 'Sekolahmu x Merdeka Belajar'
print(b)
print(b[:5])
print(b[::3])

Sekolahmu x Merdeka Belajar
Sekol
Soh Mdaej

String to List (split)

In [ ]:
'Merdeka Belajar'.split()

['Merdeka', 'Belajar']

List to string (join)

In [ ]:
''.join(['s', 'h', 'i', 'f', 't'])

'shift'

In [ ]:
''.join(['Merdeka', ' ', 'Belajar'])

'Merdeka Belajar'

## Tuple

Secara fungsi tuple mirip dengan list, hanya saja tuple tidak dapat di modifikasi

### **Membuat sebuah tuple**

In [ ]:
kota = ('Bandung', 'Jogja', 'Padang', 'Batam', 'Depok')
print(kota)
print(type(kota))

('Bandung', 'Jogja', 'Padang', 'Batam', 'Depok')
<class 'tuple'>

In [ ]:
type(kota[3])

str

### Mengganti element tuple

In [ ]:
kota[3] = 'Jakarta'

TypeError: ignored

### Menghapus element tuple

In [ ]:
del kota[3]

TypeError: ignored

### Slicing Tuple

In [ ]:
kota[:3]

('Bandung', 'Jogja', 'Padang')

## Dictionaries

Dictionaries merupakan tipe data yang terdiri dari pasangan 'key' dan 'value'. 'Key' bersifat unik.

### Membuat sebuah dicionaries

In [ ]:
rapot = {
    'Nama' : 'David',
    'Kelas' : '11-C',
    'Nilai Matematika' : 100,
    'Nilai Fisika' : 100,
    'Nilai Seni Budaya' : 75
}

In [ ]:
print(rapot)

{'Nama': 'David', 'Kelas': '11-C', 'Nilai Matematika': 100, 'Nilai Fisika': 100, 'Nilai Seni Budaya': 75}

### Mengakses value

In [ ]:
rapot['Nilai Matematika']

100

In [ ]:
rapot['Nama']

'David'

In [ ]:
rapot['nama']

KeyError: ignored

### Mengganti Value

In [ ]:
rapot['Nilai Seni Budaya'] = 90

print(rapot)

{'Nama': 'David', 'Kelas': '11-C', 'Nilai Matematika': 100, 'Nilai Fisika': 100, 'Nilai Seni Budaya': 90}

### Dictionaries dalam Dictionaries

In [ ]:
rapot_kelas = {
    'Nama' : 'David',
    'Nilai' : {'Matematika' : 100, 'Fisika' : 100, 'Seni Budaya' : 90}
}

In [ ]:
print(rapot_kelas)

{'Nama': 'David', 'Nilai': {'Matematika': 100, 'Fisika': 100, 'Seni Budaya': 90}}

Mengakses dictionaries dalam dictionaries

In [ ]:
rapot_kelas['Nilai']['Matematika']

100