<a href="https://colab.research.google.com/github/Evianitary18/Programming-With-Python/blob/main/Modul_4_Sesi_2_Mini_Case_(exercise_for_student).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Pak Tono adalah seorang kepala keluarga. Sebagai kepala keluarga yang baik, Pak Tono harus pintar-pintar mengatur keuangan bulanan untuk keluarganya. Secara `default` berikut adalah rincian alokasi dana:
    * Kebutuhan sehari-hari: 50%
    * Kebutuhan hiburan keluarga: 20%
    * Ditabung: 30%

Buatlah fungsi untuk membantu Pak Tono menghitung banyaknya uang yang harus ditabung!

Input
```
pemasukan = 10000
print(fungsi_anda(10000))
print(fungsi_anda(10000, 50))
```

output
```
3000
5000
```

3000.0
5000.0

2. Besar diskon pada sebuah toko berbanding lurus dengan jumlah barang yang dibeli. Untuk 1 barang diberi diskon sebesar `n%`, 2 barang `2*n%`, 3 barang `3*n%` dan seterusnya. Sampai diskon maksimal adalah `8*n%`. Dengan nilai default `n=7`.

    Buatlah fungsi untuk menghitung harga akhir diskon dari harga total belanja:
    
    Input: Harga satuan barang, jumlah barang, diskon (default=7)
    ```
    print(fungsi_anda(10000,2))
    print(fungsi_anda(10000,3,5))
    ```

    output: Harga total setelah diskon.
    ```
    Harga setelah diskon adalah 17200
    Harga setelah diskon adalah 25500
    ```

Harga setelah diskon adalah 17200.0
Harga setelah diskon adalah 25500.0

3. Buatlah program untuk mencari siapa yang tertua dari 3 orang berdasarkan input di bawah. Gunakan conditional!
    * Contoh Input:
    ```
        orang_1 = 40
        orang_2 = 25
        orang_3 = 37
    ```
    * Contoh Output:
        ```
        Orang yang tertua adalah orang pertama
        ```

In [ ]:
# input untuk program anda. Jangan dihapus!
orang_1 = 25
orang_2 = 40
orang_3 = 35

Orang yang tertua adalah orang ketiga

4. Sebuah perusahaan akan memberikan bonus 5% dari gaji masing-masing pegawai kepada pegawainya jika pegawainya telah bekerja selama minimal 5 tahun.
    * Contoh Input:
```
kasus 1: gaji = 5000 ; masa bakti = 2
kasus 2: gaji = 10000; masa bakti = 6
```
    * Contoh Output:
```
kasus 1: Tidak ada bonus
kasus 2: Bonus adalah 500
```

In [ ]:
# input untuk program anda. Jangan dihapus!
gaji = 10000
masa_bakti = 6

Bonus adalah 500.0

5. Buatlah table faktorial angka 1-5. expected output:

```
1! = 1
2! = 2
3! = 6
4! = 24
5! = 120
```
note : 5! = 5 x 4 x 3 x 2 x 1

1 ! =  1
2 ! =  2
3 ! =  6
4 ! =  24
5 ! =  120