<a href="https://colab.research.google.com/github/Evianitary18/Programming-With-Python/blob/main/Modul_4_Sesi_2_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Function

* Melanjutkan pembahasan yang sebelumnya, konsep dekomposisi dan abstraksi adalah hal yang cukup penting agar kode lebih mudah untuk dipahami, ditulis, dan juga untuk dirawat.
* `function` adalah cara untuk menerapkan konsep dekomposisi dan abstraksi di dalam pemrograman.

---
## Komponen Dasar

* Untuk mendefinisikan fungsi, digunakan `def`.
* Secara umum, bentuk fungsi dalam Python adalah sebagai berikut:
```
def nama_fungsi(parameter/argumen):
    kode
```

---
### Fungsi sederhana
Contoh:
* dibuat fungsi dibawah untuk menampilkan "Halo"
* Ketika dijalankan, kode dibawah tidak akan langsung mengeluarkan "Halo".
* Namun, kode dibawah disimpan di dalam memori.

In [1]:
def print_halo():
    print("halo")

* Untuk memanggil fungsi yang disimpan tadi, cukup dengan menggunakan:

In [2]:
print_halo()

halo

---
Kesalahan yang sering terjadi ketika membuat fungsi adalah:
* Lupa menggunakan `()`

In [ ]:
def print_halo:
    print("halo")

SyntaxError: ignored

* Lupa titik dua `:`

In [ ]:
def print_halo()
    print("halo")

SyntaxError: ignored

---
**Exercise!**

In [ ]:
# Buatlah fungsi yang menampilkan 3*7
def fungsi_a():
  print(3*7)

In [ ]:
# Panggillah fungsi yang telah dibuat
fungsi_a()

21

---
### Fungsi yang mengembalikan hasil.

* Di atas telah dicontohkan fungsi untuk menampilkan hasil.
* Namun, bagaimana agar kita bisa menggunakan nilai yang telah diolah pada fungsi?
* Gunakan `return`, dengan `return` kita bisa mengambil nilai yang telah diolah di dalam fungsi.

Contoh:

In [ ]:
def dua_tambah_tiga():
    angka = 2+3
    return angka

In [ ]:
hasil = dua_tambah_tiga()
print(hasil)

5

* Nilai dari return juga bisa banyak
* Namun, untuk kemudahan hal ini tidak akan kita bahas di sini

---
**Exercise!**

In [ ]:
# Buatlah fungsi yang mengembalikan nilai 4-23, lalu tampilkan hasilnya!
def fungsi_b():
  return 4 - 23

fungsi_b()

-19

---
### Fungsi dengan Parameters/Arguments

* Parameters/arguments adalah nama lain dari input fungsi.
* Untuk menggunakan parameter, kita hanya perlu mendefinisikan variabel di fungsi:

Contoh:

In [ ]:
def print_teks(teks):
    print(teks)

In [ ]:
print_teks("Halo, nama saya Budi.")

Halo, nama saya Budi.

* Kita dapat mendefinisikan beberapa parameter sekaligus
* Namun, untuk hal ini, urutan yang dimasukkan ke dalam fungsi harus sama dengan urutan nama variabel

In [ ]:
def print_banyak(nama, hewan, jumlah):
    print(nama+" mempunyai "+str(jumlah)+" "+hewan)

In [ ]:
print_banyak("Budi","landak","2")

Budi mempunyai 2 landak

* Namun, jika kita menggunakan parameter, pastikan semua variabel terisi.
* Jika tidak akan error

In [ ]:
def print_banyak(nama, hewan, jumlah):
    print(nama+" mempunyai "+str(jumlah)+" "+hewan)

In [ ]:
print_banyak("Tono","kambing")

TypeError: ignored

---
#### Keyword Arguments

* Pada pengenalan *parameters/arguments* diberikan contoh fungsi dengan banyak parameter.
* Dengan cara tersebut, urutan nilai yang dimasukkan ke fungsi harus sama dengan urutan nama variabel parameter.
* Jika ingin tidak urut, dapat digunakan *keyword arguments*

contoh:

In [ ]:
def print_banyak(nama, hewan, jumlah):
    print(nama+" mempunyai "+str(jumlah)+" "+hewan)

In [ ]:
print_banyak(nama="Lala", jumlah=3, hewan="Kelinci")

Lala mempunyai 3 Kelinci

---
**Exercise!**

In [ ]:
# Buatlah fungsi untuk menambahkan dua bilangan, lalu bagi hasil penjumlahan tersebut dengan angka ketiga (a+b)/c.
# Panggil fungsi tersebut dengan keyword arguments, dan ambil hasilnya sebagai variabel hasil.
# Print nilai variabel hasil tersebut

def fungsi_c(a, b, c):
  result = (a + b) / c
  return result

In [ ]:
fungsi_c(c = 1, a = 5, b = 2)

7.0

---
#### Nilai Default

* Pada setiap contoh diatas, dinyatakan bahwa nilai dari parameter harus mempunyai nilai.
* Hal ini akan cukup membuat repot ketika setiap kali kita memanggil fungsi.
* Karena kita harus mengisi semua nilai parameter.
* Untuk mengatasi hal ini, digunakan `default value`.

* `default value` biasanya digunakan ketika kita tidak ingin repot mengisi semua parameter.
* Maka dari itu biasanya nilai `default value` adalah nilai standar yang ditetapkan oleh programmer.

Contoh penggunaan default value:

In [ ]:
def gaji_karyawan(posisi, gaji=6000000):
    print("Gaji dari",posisi,"adalah: ",gaji)

* Nilai dari `default value` akan masuk secara otomatis sehingga pada kasus ini cukup memberikan 1 parameter saja.

In [ ]:
gaji_karyawan("Jr. Data Analyst")

Gaji dari Jr. Data Analyst adalah:  6000000

* Untuk merubah nilai `default value` dapat langsung dimasukkan nilainya.

In [ ]:
gaji_karyawan("Supervisor", 15000000)

Gaji dari Supervisor adalah:  15000000

* Atau dengan *keyword argument*

In [ ]:
gaji_karyawan("Sr. Data Scientist", gaji=40000000)

Gaji dari Sr. Data Scientist adalah:  40000000

---
#### Arbitrary Arguments (args)

* Jika kita tidak tahu ada berapa banyak argumen yang ingin dimasukkan kedalam fungsi. Bisa digunakan *arbitrary arguments*
* Untuk membuat *arbitrary arguments* cukup menambahkan `*` sebelum nama parameter di definisi fungsi.
* Untuk mengakses variabel ke-X bisa digunakan indexing.

Contoh:

In [ ]:
def urutan_anak(*nama):
    print("Anak pertama adalah",nama[0])

In [ ]:
urutan_anak("Budi","Tono","Joko")

Anak pertama adalah Budi

* Karena bisa banyak, *arbitrary arguments* juga bisa dimasukkan ke dalam loop.

In [ ]:
def makanan_favorit(*daftar_makanan):
    for makanan in daftar_makanan:
        print("Makanan favorit saya adalah", makanan)

In [ ]:
makanan_favorit("Nasi Goreng","Rawon","Sate Kambing")

Makanan favorit saya adalah Nasi Goreng
Makanan favorit saya adalah Rawon
Makanan favorit saya adalah Sate Kambing

---
#### Arbitrary Keyword Arguments (kwargs)

* Konsep sama seperti *arbitrary arguments*, namun untuk hal ini bisa diberikan nama variabel.
* Untuk membuat *arbitrary keyword arguments* cukup menambahkan `**` sebelum nama parameter di definisi fungsi.
* Untuk mengakses nilai, digunakan nama variabel.

Contoh:

In [ ]:
def nama_belakang(**nama):
    print("Nama belakang dia adalah",nama['nama_belakang'])

In [ ]:
nama_belakang(nama_depan = "Budi", nama_belakang = "Suwarno")

Nama belakang dia adalah Suwarno

* Bisa dilihat bahwa ketika memanggil fungsi diberikan `nama_belakang = "Suwarno"`
* Sehingga untuk memanggil nilai variabelnya digunakan `nama['nama_belakang']`
* Salah satu error yang sering terjadi adalah ketika nama variabel di dalam fungsi dan ketika memanggil fungsi tidak sama.

In [ ]:
def nama_belakang(**nama):
    print("Nama belakang dia adalah",nama['last_name'])

In [ ]:
nama_belakang(first_name = "Budi", last_name = "Suwarno")

Nama belakang dia adalah Suwarno

---
**Exercise!**

In [ ]:
# Buat fungsi yang menerima angka apa saja sebagai arbitrary arguments
# Print angka-angka tersebut
def angka(*numbers):
  for number in numbers:
    print("Angka input adalah : ", number)

angka(1,3,5,7,9,11)

Angka input adalah :  1
Angka input adalah :  3
Angka input adalah :  5
Angka input adalah :  7
Angka input adalah :  9
Angka input adalah :  11