<a href="https://colab.research.google.com/github/Evianitary18/Programming-With-Python/blob/main/Modul_4_Sesi_2_While_dan_For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
## *While* Statement

---
### Basic While statement

* `while` statement adalah pernyataan untuk looping.
* `while` statement memiliki bentuk umum:

```
while condition:
    run_this
```
* Yang berarti selama `condition` terpenuhi, maka akan terus mengulang `run_this`

Contoh:

In [ ]:
angka = 4
while angka <= 5: # "angka" disini memenuhi kondisi while, maka looping akan berjalan
    print(angka) # menampilkan "angka"
    angka += 1

4
5

---
Cara membaca kode tersebut adalah:
1. Definisikan nilai awal dari `angka` adalah 1
2. Cek angka, apakah kurang dari sama dengan 5
3. Jika iya, maka tampilkan nilai angka dan tambahkan nilai `angka` dengan satu.
4. Jika tidak, maka program akan berhenti.

---
Contoh lain:

In [ ]:
angka = 5
while angka >= 1:
    print(angka)
    angka -= 1

5
4
3
2
1

---
**Exercise!**

In [ ]:
# Buatlah angka dari 1 sampai 10
angka = 1
while angka <= 10:
  print(angka)
  angka += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Buatlah angka dari 15 sampai 5
angka = 15
while angka >= 5:
    print(angka)
    angka -= 1

15
14
13
12
11
10
9
8
7
6
5

---
### Common Errors

* Salah tanda kondisional:
    * Program nggak akan jalan.
    * Karena kondisi tidak terpenuhi.

In [ ]:
angka = 1
while angka >= 5:
    print(angka)
    angka += 1

* Lupa memberi kondisi awal
    * Akibatnya error

In [ ]:
while test <= 5:
    print(test)
    test += 1

NameError: ignored

* Lupa update variabel di dalam loop
    * Akibatnya bisa infinite loop

In [ ]:
test_2 = 1
while test_2 <= 5:
    # test_2 akan mengeluarkan angka 1 sebanyak tak hingga asalkan sudah ...
    # ... memenuhi kondisi dari while
    # lupa untuk melakukan update pada variable "test_2"
    print(test_2)

* Ekspektasi dan kenyataan berbeda 1 iterasi:
    * Dikarenakan penggunaan tanda yang tidak tepat
    * Di sini alih alih print angka 1 sampai 5 kita hanya print sampai 4 saja

In [ ]:
test_2 = 1
while test_2 < 5:
    print(test_2)
    test_2 += 1

1
2
3
4

In [ ]:
# kira-kira mengapa hasil dari kode di bawah tidak sesuai ekspektasi?

test_2 = 1
while test_2 <= 10: # perhitungan "angka" tetap akan sampai dengan "angka = 10"
    test_2 += 1 # ditambahkan terlebih dahulu sebelum ditampilkan
    print(test_2)

2
3
4
5
6
7
8
9
10
11

### Pass statement


*   Kita dapat melewati suatu iterasi sesuai dengan kondisi yang kita tentukan dengan statemen *pass*
*   Contohnya jika kita tidak ingin mencetak suatu angka tertentu dalam loop

In [ ]:
# membuat angka dari 13 sampai 17, namun tidak mencetak angka 15
angka = 13
while angka <=17:
  if angka == 15:
    pass
  else:
    print(angka)
  angka += 1

13
14
16
17

---
**Exercise!**

In [ ]:
# Perbaiki kode berikut, hasil adalah angka dari 1 sampai 10
angka = 0
while angka >= 10:
    print(angka)
    angka += 1

In [ ]:
# Perbaiki kode berikut, hasil adalah angka genap dari 0 sampai 8
while test <= 8:
    print(test)
    test += 2

In [ ]:
# Perbaiki kode berikut, hasil adalah angka ganjil dari 1 sampai 17
test_2 = 0
while test_2 < 17:
    print(test_2)
    test_2 += 1

---
**Exercise!**

In [ ]:
# Buatlah angka dari 15 sampai 25 dengan kondisi angka tidak boleh sama dengan 20
angka = 15
while angka <= 25:
  if angka == 20:
    pass
  else:
    print(angka)
  angka += 1

15
16
17
18
19
21
22
23
24
25

In [ ]:
# Buatlah angka genap menurun dari 30 sampai 10 dengan kondisi angka tidak boleh sama dengan 18
angka = 30
while angka >=10:
  if angka == 18:
    pass
  else:
    print(angka)
  angka -= 1

30
29
28
27
26
25
24
23
22
21
20
19
17
16
15
14
13
12
11
10

---
### While - Else

* Statement `else` di dalam while berguna untuk menjalankan satu blok kode ketika kondisi sudah tidak terpenuhi.

In [ ]:
i = 1
while i <= 3:
    print(i)
    i += 1
else:
    print("nilai i sudah lebih dari 3.")

1
2
3
nilai i sudah lebih dari 3.

* Namun pada prakteknya jarang digunakan, karena bisa juga digunakan seperti ini.

In [ ]:
i = 1
while i <= 3:
    print(i)
    i += 1

print("nilai i sudah lebih dari 3.")

1
2
3
nilai i sudah lebih dari 3.

# For Loop

* Pada bagian ini akan dipelajari `for`.
* Perbedaan antar keduanya:
    * `while` merupakan *indefinite loops*. Singkatnya, kita tidak tahu akan berapa banyak loop yang dijalankan.
    * `for` merupakan *definite loops*. Yang berarti, kita sudah tahu objek apa yang akan di-loop.

Contoh sederhana

Dalam `while`:

In [ ]:
i = 0
while i <= 4:
    print(i)
    i += 1

0
1
2
3
4

Dalam `for`:

In [ ]:
for i in 0,1,2,3,4:
    print(i)

0
1
2
3
4

In [ ]:
# can for loops be infinite? Yes, can!
# example 1:
l = [1]
for x in l:
    l.append(x + 1) # we're not specifying when append is gonna stop
    print(x)

In [ ]:
# example 2:
for i in iter(int, 1):
    pass

KeyboardInterrupt: ignored

In [ ]:
# apa itu iter()

huruf_vokal = ['a', 'e', 'i', 'o', 'u']
iter_huruf_vokal = iter(huruf_vokal)

In [ ]:
print(next(iter_huruf_vokal))

a

---
**Exercise!**

In [ ]:
# Buatlah for loop dari 1 sampai 5
for i in 1, 2, 3, 4, 5:
  print(i)

1
2
3
4
5

In [ ]:
# Buatlah for loop dari 0 sampai 6
for i in 0, 1, 2, 3, 4, 5, 6:
  print(i)

0
1
2
3
4
5
6

In [ ]:
# Ubahlah while berikut menjadi for
i = 1
while i <= 9:
    print(i)
    i += 2

---
## Range

* Di penjelasan sebelumnya, telah dijelaskan bahwa untuk `for` kita harus mengetahui hal yang ingin di-loop terlebih dahulu.
* Contoh di atas memerlukan definisi secara manual, ini akan sangat tidak praktis jika hal yang ingin di-loop banyak.
* Untuk mengatasi hal tersebut digunakan fungsi `range()`

---
* Secara umum fungsi `range` memiliki bentuk seperti berikut: `range(begin,end,step)`
* `begin` adalah angka pertama di dalam range, secara default adalah `0`.
* `end` adalah angka 1 step setelah angka terakhir, tidak memiliki default.
* `step` adalah besar dari kenaikan atau penurunan, secara default adalah `1`.

Contoh:

* range dengan nilai `end` saja.

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

* range dengan nilai `begin` dan `end`

In [ ]:
for i in range(1,5):
    print(i)

1
2
3
4

* range dengan `step`

In [ ]:
for i in range(0,12,2):
    print(i)

0
2
4
6
8
10

* range dengan `step` menurun

In [ ]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

---
**Exercise!**

In [ ]:
# Buatlah for loop dari 0 sampai 11
for i in range(12):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# Buatlah for loop bilangan genap dari 2 sampai 8
for i in range(2,9,2):
  print(i)

2
4
6
8

In [ ]:
# Buatlah for loop menurun bilangan ganjil dari 29 sampai 15
for i in range(29, 14, -2):
  print(i)

29
27
25
23
21
19
17
15

---
## Common errors

* lupa memakai fungsi `range()`

In [ ]:
for i in 5:
    print(i)

TypeError: ignored

* ekspektasi tidak sesuai kenyataan:
    * biasanya karena lupa `end` pada for loop bukan angka terakhir.
    * Melainkan angka setelah angka terakhir.

In [ ]:
# Misal mau membuat loop 1 sampai 5
for i in range(1,5):
    print(i)

1
2
3
4

---
**Exercise!**

In [ ]:
# Perbaikilah kode berikut
for i in 5:
    print(i)

In [ ]:
# Perbaikilah kode berikut sehingga output dari 0 sampai 7
for i in range(1,7):
    print(i)

---
## Iterasi pada String

* Pada pertemuan pertama sudah dibahas mengenai `string`.
* Elemen pada `string` dapat diakses dengan menggunakan index maupun slicing.

Contoh:

In [ ]:
teks = "komputer"
teks[2:6]

'mput'

* `for` loop juga bisa digunakan untuk mengakses elemen satu per satu dari `string`.

contoh:

In [ ]:
kata = "programming"
for huruf in kata:
    print(huruf)

p
r
o
g
r
a
m
m
i
n
g

* Dengan menggabungkan method `.split()` untuk string dan `for` loop. Maka bisa juga digunakan untuk mendapatkan kata dari kalimat.

In [ ]:
kalimat = 'teman saya suka makan nasi goreng'
for kata in kalimat.split():
    print(kata)

teman
saya
suka
makan
nasi
goreng

---
**Exercise!**

In [ ]:
# tampilkan setiap huruf pada kata berikut
kata_1 = "televisi"
for kata in kata_1:
  print(kata)

t
e
l
e
v
i
s
i

In [ ]:
# tampilkan setiap digit pada angka berikut
angka = "08171945"
for a in angka:
  print(a)

0
8
1
7
1
9
4
5

---
## Nested loop

* Sama seperti *conditional* , Loop juga bisa *nested*.
* Yang berarti loop di dalam loop.
* Biasanya dipakai untuk program yang lebih kompleks.

---
* Konsep dari *nested* loop adalah:
    * Untuk 1 kali iterasi yang luar.
    * *Loop* yang dalam akan menyelesaikan 1 siklus.

Contoh:

In [ ]:
for i in range (2):
    print("ini loop luar")
    for j in range(3):
        print("ini loop dalam")

ini loop luar
ini loop dalam
ini loop dalam
ini loop dalam
ini loop luar
ini loop dalam
ini loop dalam
ini loop dalam

Contoh lain:

membuat tabel perkalian 1 dan 2 (dari 1 sampai 5)

In [ ]:
for dikali in range(1,3):
    for pengali in range(1,6):
        perkalian = dikali * pengali
        print(dikali, ' x ', pengali)
    print('')

1  x  1
1  x  2
1  x  3
1  x  4
1  x  5

2  x  1
2  x  2
2  x  3
2  x  4
2  x  5

---
**Exercise!**

In [ ]:
# Buatlah tabel perkalian 3-4 (dari 1-5) dan tambahkan hasil perkalian di dalam tabel tersebut
for dikali in range(3,5):
    for pengali in range(1,6):
        perkalian = dikali * pengali
        print(dikali, ' x ', pengali, '=', perkalian)
    print('')

3  x  1 = 3
3  x  2 = 6
3  x  3 = 9
3  x  4 = 12
3  x  5 = 15

4  x  1 = 4
4  x  2 = 8
4  x  3 = 12
4  x  4 = 16
4  x  5 = 20