<a href="https://colab.research.google.com/github/Evianitary18/Programming-With-Python/blob/main/Statistics_II_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library

In [1]:
import pandas as pd
import numpy as np
import scipy.stats as st
import seaborn as sns

# Read Dataset

In [2]:
df = pd.read_csv('e-commerce_example_dataset.csv')

In [3]:
df.shape

(100, 3)

In [16]:
df['discount'].value_counts()

discount
discount        65
not-discount    35
Name: count, dtype: int64

In [17]:
df.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

# Langkah 1

Apakah rata rata gmv discount > gmv non-discount

H0 : rata-rata gmv discount **sama dengan atau kurang dari** gmv non-discount <br>
H1 : rata-rata gmv discount **lebih dari** gmv non-discount

In [12]:
discount = df[df['discount']=='discount']
not_discount = df[df['discount']!='discount']

In [13]:
def uji_normalitas(data, kolom, alpha=0.05):

    alpha = alpha  # Tingkat signifikansi yang Anda tentukan

    # Lakukan uji normalitas dengan Shapiro-Wilk test
    stat, p = stats.shapiro(data[kolom])

    if p > alpha:
        print("Data mengikuti distribusi normal (tidak dapat menolak hipotesis nol)")
    else:
        print("Data tidak mengikuti distribusi normal (menolak hipotesis nol)")

In [19]:
import matplotlib.pyplot as plt

uji_normalitas(discount, 'gmv')

NameError: name 'stats' is not defined

In [15]:
uji_normalitas(not_discount, 'gmv')

NameError: name 'stats' is not defined

In [ ]:
discount.head()

        gmv  discount  user_id
35  1915181  discount       36
36  1481660  discount       37
37  1517240  discount       38
38  1705569  discount       39
39  1571139  discount       40

In [ ]:
not_discount.head()

       gmv      discount  user_id
0  1324911  not-discount        1
1  1625874  not-discount        2
2  1432984  not-discount        3
3  1294427  not-discount        4
4  1635693  not-discount        5

# Langkah 2

In [10]:
import matplotlib.pyplot as plt

In [11]:
discount['gmv'].mean()

NameError: name 'discount' is not defined

In [9]:
not_discount['gmv'].mean()

NameError: name 'not_discount' is not defined

# Langkah 3 & 4

In [20]:
ttest = st.ttest_ind(a = discount['gmv'], b=not_discount['gmv'])
p_value = ttest.pvalue
print('P-Value :',p_value)
if p_value >= 0.05:
    print('Tidak cukup bukti menyatakan bahwa rata-rata gmv discount lebih dari gmv non-discount')
else:
    print('Cukup bukti menyatakan (Tolak H0) bahwa rata-rata gmv discount lebih dari gmv non-discount')

P-Value : 0.0009942306670295464
Cukup bukti menyatakan (Tolak H0) bahwa rata-rata gmv discount lebih dari gmv non-discount

# Case 2 ANOVA

In [4]:
df2 = pd.read_csv('Iris.csv')
df_versicolor = df2[df2['Species'] == 'Iris-versicolor']
df_setosa = df2[df2['Species'] == 'Iris-setosa']
df_virginica = df2[df2['Species'] == 'Iris-virginica']

In [5]:
st.f_oneway(df_versicolor['SepalWidthCm'],df_setosa['SepalWidthCm'],df_virginica['SepalWidthCm'])

F_onewayResult(statistic=47.36446140299381, pvalue=1.3279165184572242e-16)

In [6]:
df2.groupby(['Species'])['SepalWidthCm'].mean()

Species
Iris-setosa        3.418
Iris-versicolor    2.770
Iris-virginica     2.974
Name: SepalWidthCm, dtype: float64